= form_tag new_user_path, :id => 'add_user_form', :remote => true do

  = label :user, :email
  = text_field :user, 'email', :class => 'form-control'

  = radio_button :user, 'role', 'Admin'
  = label :user_role, "admin"
  = radio_button :user, 'role', 'User', :checked => true
  = label :user_role, "user"

  = submit_tag "+", class: "btn btn-large btn-primary"