- content_for(:head) do
  = javascript_include_tag 'google_auth'
  = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Montserrat:400,700'

- if flash
  - flash.each do |type, message|
    :javascript
      toastr.options.positionClass = "toast-bottom-right";
      if ('#{type}' == 'notice')
        toastr.success('#{message}');
      else if ('#{type}' == 'alert')
        toastr.warning('#{message}');
      else if ('#{type}' == 'error')
        toastr.error('#{message}');

.container#home_body
  .center
    %img{:href => "/", :src => image_path("ct-logo.svg"), :width => "392", :height => "178"}
    %h1 Mail App
    = link_to raw('Sign in with Google<i class="fa fa-google-plus"></i>'), user_omniauth_authorize_path(:google_oauth2), :class => "popup btn-lg btn-block btn-social btn-google-plus", :"data-width" => 800, :"data-height" => 600