%h1 Reset Salesforce Password

= form_tag save_password_path do

  = label :password, :password, "Enter New Password"
  = text_field :password, 'password'

  = label :confirm_password, :confirm_password, "Confirm New Password"
  = text_field :confirm_password, 'confirm_password'

  =label :token, :token, "Enter New Security Token"
  = text_field :token, 'token'

  = submit_tag "Save"