= form_for @email, html: {multiple: true, class: "dropzone", id: "email_form"} do |f|
  #email_header
    #recipient_header
      .email_fields_table
        .email_fields_row#to_row
          .email_label 
            To:
          .recipient_right
            = f.text_area :to, :class => 'recipient_text', :multiple => true
        .email_fields_row#cc_row
          .email_label
            CC:
          .recipient_right
            = f.text_area :cc, :class => 'recipient_text', :multiple => true
        .email_fields_row#bcc_row
          .email_label
            BCC:
          .recipient_right
            = f.text_area :bcc, :class => 'recipient_text', :rows => 1, :multiple => true
    #subject_field
      .email_fields_table
        .email_fields_row
          .recipient_right
            = f.text_field :subject, :class => 'subject_text', :placeholder => "Subject"

  #filter_label
    .email_label
      Filters:
    #filters
      %span{:class => "ui_fil" }
        .left_fil Student
        .x
    = link_to "change filters", "", :id => "change_filter"

  %table#compose_box
    %tr
      %td= f.text_area :body, :class => 'tinymce', :cols => 80, :rows => 20
    %tr
      %td
        %span Files to Attach
        %span Drop files here to upload
        .fallback
          = f.file_field :files
        %div{id: "dropzone-preview", class: "dz-default dz-message"}
    %tr
      %td.submit_btns
        = f.submit  'Send',  :class => "btn send_btn"
        = f.submit  'Draft', :class => "btn draft_btn"
        = link_to "Delete", delete_draft_path, :method => :delete, :class => "btn delete_btn", data: {confirm: "Are you sure?"}