= form_tag(drafts_path, {multipart: true, id: "email_form"}) do
  #email_header
    #recipient_header
      .email_fields_table
        .email_fields_row#to_row
          .email_label 
            To:
          .recipient_right
            = text_area :email, :to, :class => 'recipient_text', :multiple => true
        .email_fields_row#cc_row
          .email_label
            CC:
          .recipient_right
            = text_area :email, :cc, :class => 'recipient_text', :multiple => true
        .email_fields_row#bcc_row
          .email_label
            BCC:
          .recipient_right
            = text_area :email, :bcc, :class => 'recipient_text', :rows => 1, :multiple => true
    #subject_field
      .email_fields_table
        .email_fields_row
          .recipient_right
            = text_field :email, :subject, :class => 'subject_text', :placeholder => "Subject"

  #filter_label
    .email_label
      Filters:
    #filters
      %span{:class => "ui_fil" }
        .left_fil Student
        .x
    = link_to "change filters", "", :id => "change_filter"

  %table#compose_box
    %tr
      %td= text_area :email, :body, :class => 'tinymce', :cols => 80, :rows => 20
    %tr
      %td
        .dropzone
          .fallback
            = file_field :email, :files
          %div{id: "dropzone-preview", class: "dz-default dz-message"} Drag files here
    %tr
      %td.submit_btns
        = submit_tag  'Send',  name: "send_msg", :class => "btn send_btn", :id => "send_draft"
        = submit_tag  'Draft', name: "save_msg", :class => "btn draft_btn"
        = link_to "Delete", delete_draft_path, :method => :delete, :class => "btn delete_btn", data: {confirm: "Are you sure?"}