= form_tag(email_index_path, {:id => "email_form", multipart: true}) do

  #email_header
    #recipient_header
      %table{:class => 'recipient_table'}
        %tr
          %td
            .recipient
              %span{:class => 'recipient_label'}To
          %td{:class => 'recipient_right'}
            = text_area :message, "to", :class => 'recipient_text'
        %tr
          %td
            .recipient
              %span{:class => 'recipient_label'}CC
          %td{:class => 'recipient_right'}
            = text_area :message, "cc", :class => 'recipient_text'    
        %tr{:class => 'recipient_row'}
          %td
            .recipient
              %span{:class => 'recipient_label'}BCC
          %td{:class => 'recipient_right'}
            #recipient_bcc
              = text_area :message, "bcc", :class => 'recipient_text', :rows => 1
    #subject_field
      = text_field :message, :subject, :class => 'subject_text', :placeholder => "Subject"
  #filter_label 
    Filters:
    #filters
      %span{:class => "ui_fil" }
        .left_fil Oakland
        .x
      %span{:class => "ui_fil" }
        .left_fil Student
        .x
  = link_to "change filters", "", :id => "change_filter"
  %table
    %tr
      %td= text_area :message, :body, :class => 'tinymce', :cols => 80, :rows => 20
    %tr
      %td
        .recipient
          %span{class: 'recipient_label'}Files to Attach
          = file_field_tag "file[]", multiple: true
    %tr
      %td
        = submit_tag 'Send',   name: "send_msg"
        = submit_tag 'Draft',  name: "draft_msg"
        = link_to "Delete", delete_message_url, :method => :delete, data: {confirm: "Are you sure?"}