#accordian
  %ul
    - @filter_values.each_key do |category|
      %li
        %h3= category
        %ul
          %li
            - @filter_values[category].each do |value|
              - if value == "Student"
                = link_to "#{value}", "", :class => "selected"
              - else
                = link_to "#{value}", ""
  %button{:id => 'save_filter'} Save