= tinymce_assets
= tinymce

- content_for(:head) do
  = javascript_include_tag 'filter'
  = javascript_include_tag 'email'
  = stylesheet_link_tag 'email'

- if flash[:notice]
  #notice.message= flash[:notice]

%h1 Email

=link_to "Admin", admin_path

= form_tag email_index_path, :id => "email_form" do

  %table{:class => 'recipient_table'}
    %tr
      %td
        .recipient
          %span{:class => 'recipient_label'}To
      %td{:class => 'recipient_right'}
        = text_area :email, :to, :class => 'recipient_text'
    %tr
      %td
        .recipient
          %span{:class => 'recipient_label'}CC
      %td{:class => 'recipient_right'}
        = text_area :email, :cc, :class => 'recipient_text'    
    %tr{:class => 'recipient_row'}
      %td
        .recipient
          %span{:class => 'recipient_label'}BCC
      %td{:class => 'recipient_right'}
        #recipient_bcc
          = text_area :email, :bcc, :class => 'recipient_text', :rows => 1
    %tr{:class => 'recipient_row'}
      %td
        .recipient
          %span{:class => 'recipient_label'}Subject
      %td{:class => 'recipient_right'}
        = text_area :email, :subject, :class => 'subject_text'    
  #filter_label 
    Filters:
    #filters
      %span{:class => "ui_fil" }
        .left_fil Oakland
        .x
  = link_to "change filters", "#", :id => "change_filter"
  %table
    %tr
      %td= text_area :email, :body, :class => 'tinymce', :cols => 80, :rows => 20

    %tr
      %td
        = submit_tag 'Send',   name: "send_msg"
        = submit_tag 'Draft',  name: "draft_msg"
        = link_to "Delete", delete_message_url, :method => :delete, data: {confirm: "Are you sure?"}

= render "filters", :filter_values => @filter_values