= tinymce_assets
= tinymce

- content_for(:head) do
  = javascript_include_tag 'filter'
  = javascript_include_tag 'email'
  = stylesheet_link_tag 'email'

- if flash[:notice]
  #notice.message= flash[:notice]

%h1 Email

= render "email_form"

= render "filters", :filter_values => @filter_values