= tinymce_assets
= tinymce

- content_for(:head) do
  = javascript_include_tag 'filter'
  = javascript_include_tag 'email'
  = stylesheet_link_tag 'email'

- if flash[:notice]
  #notice.message= flash[:notice]

%h1 Email

<<<<<<< HEAD
= link_to "Admin", admin_path
=======
-if policy(current_user).edit_users?
  =link_to "Admin", admin_path, :id => "admin_link"
>>>>>>> admin_tab

= render "email_form"

= render "filters", :filter_values => @filter_values
