%h1 Email

= form_tag email_index_path do
  %table
    %tr
      %td= label :email, :lable_to, 'To'
      %td= text_field :email, :to, :size => 80
    %tr
      %td= label :email, :label_cc, 'CC'
      %td= text_field :email, :cc, :size => 80
    %tr
      %td= label :email, :label_bcc, 'BCC'
      %td= text_field :email, :bcc, :size => 80
  
  %table
    %tr
      %td= text_area :email, :content, :size => "83.5x30"
    %tr
      %td{:style => "text-align:right"}= submit_tag 'Send'