= tinymce_assets
= tinymce

- if flash[:notice]
  #notice.message= flash[:notice]

%h1 Email

= form_tag email_index_path do
  %table
    %tr
      %td= label :email, :lable_to, 'To'
      %td= text_field :email, :to, :size => 80
    %tr
      %td= label :email, :label_cc, 'CC'
      %td= text_field :email, :cc, :size => 80
    %tr
      %td= label :email, :label_bcc, 'BCC'
      %td= text_field :email, :bcc, :size => 80
    %tr
      %td= label :email, :label_subject, 'Subject'
      %td= text_field :email, :subject, :size => 80
  %table
    %tr
      %td= text_area :email, :body, :class => 'tinymce', :cols => 80, :rows => 20
  
    %tr
      %td
        = submit_tag 'Send'
        = submit_tag 'Draft'
        = submit_tag 'Delete'

