= tinymce_assets
= tinymce

- content_for(:head) do
  = javascript_include_tag 'filter'
  = javascript_include_tag 'email'
  = stylesheet_link_tag 'email'

- if flash
  - flash.each do |type, message|
    :javascript
      toastr.options.positionClass = "toast-bottom-right";
      if ('#{type}' == 'notice')
        toastr.success('#{message}');
      else if ('#{type}' == 'alert')
        toastr.warning('#{message}');
      else if ('#{type}' == 'error')
        toastr.error('#{message}');

= render "partials/header"
.container#email_body
  = render "email_form", :draft => @draft
  = render "filters", :filter_values => @filter_values