!!! 5
%html
  %head
    %title CollegeTrackPortal
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)

  %body
    #main
      - if flash
        - flash.each do |type, message|
          :javascript
            toastr.options = { positionClass: 'toast-top-center' }
            if ('#{type}' == 'notice')
              toastr.success('#{message}');
            else if ('#{type}' == 'alert')
              toastr.warning('#{message}');
            else if ('#{type}' == 'error')
              toastr.error('#{message}');

      = yield
